<html>
<head>
<title>JSP and Servlet Tutorial</title>
<link rel="stylesheet" type="text/css"  href="/style/jspservlet-style.css" />
</head>
<body>
	<form action="#">

		<div class="container"></div>
		<div class="container">
			<label><b>User Name:</b></label> 
			<input type="text" placeholder="Enter Username" name="username" required> 
				
			<label><b>Password</b></label>
			<input type="text" placeholder="Enter Password" name="password" required>
			
			<button type="Submit" >Login</button>
			<input type="checkbox" checked="checked">Remember Me
		</div>
		<div class="container">
			<button type="button" class="cancelbtn">Cancel</button>
			<span class="psw">Forget <a href="#">Password?</a></span>
		</div>

	</form>

</body>
</html>