<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- Basic Window Authentication -->
	<http>
		<!-- <intercept-url pattern="/**" access="ROLE_USER" /> -->
		<http-basic />
		<csrf disabled="true"/>
	</http>
	
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="rlimbu" password="dummy" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="rodjohnson" password="rj" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>


<!-- 	<http >
		<csrf disabled="true" />
	</http>
	<user-service>
		<user name="rlimbu" password="dummy" authorities="ROLE_USER" />
	</user-service>
 -->	
</beans:beans>
