<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">		
	
	<!-- Activate autowire annotation -->
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>

	<bean id="bus" class="com.durgasoft.annotation.springioc_19.Bus"></bean>
	<bean id="engine" class="com.durgasoft.annotation.springioc_19.Engine">
		<property name="modelYear" value="2017"></property>
	</bean>

	<bean id="engine-2" class="com.durgasoft.annotation.springioc_19.Engine" autowire-candidate="false">
		<property name="modelYear" value="2015"></property>
	</bean>
	
	<context:annotation-config />
</beans>