<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 	<bean id="triangle" class="com.javabrains.tutorial19.Triangle">
		<property name="pointA" ref="zeroPoint" />
		<property name="pointB" ref="point2" />
		<property name="pointC" ref="point3" />
	</bean> -->
	<bean id="pointA" class="com.javabrains.tutorial19.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointB" class="com.javabrains.tutorial19.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointC" class="com.javabrains.tutorial19.Point">
		<qualifier value="circleRelated" />
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

<bean id="circle" class="com.javabrains.tutorial19.Circle" />
<!-- 
<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
 -->
 <context:annotation-config />
</beans>